@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body, .button{
    font-family: 'Fredoka One', cursive;
}

body{
    background-image: url('background.jpg');
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7, 1fr) ;
    width: 400px;
    height: 600px;
    margin: 96px auto auto auto;
    border-radius: 10px;
    border: black solid 2px;
    column-gap: 8px;
    row-gap: 8px;
    padding: 32px 16px;
    background-color: #293462;
}

.button {
    border: 1px solid darkgray;
    text-align: center;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 2px 2px #999;
    font-size: 24px;
}

.button:active {
    box-shadow: 0px 0px #666;
    transform: translateY(2px);
}

.button:focus-visible{
    outline: none;
}

.button:disabled {
    background-color: black;
    color: white;
    box-shadow: 0px 0px #666;
    transform: translateY(2px);
}

.display{
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 64px;
    font-weight: 200;
    padding: 24px;
    border-radius: 10px;
    color: white;
}

#clear, #zero{
    grid-column: 1 / span 2;
}

.button.control {
    background-color: #fedb39;
}

.button.operation, .button.equal {
    background-color: #1cd6ce;
}